<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MAP</title>
  <link rel="stylesheet" href="style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <section class='content'>
    <div class="rank">
      <form enctype="multipart/form-data" method="post" action="/upload">
        <div class="form-group">
          <select class="form-select" name="data_type" aria-placeholder="Выберите тип данных">
            <option value="people">Количество проживающих людей</option>
            <option value="appeals">Обращения граждан</option>
            <option value="commercial">Количество коммерческой недвижимости</option>
            <option value="social">Количество социально-значимых мест</option>
            <option value="green">Индекс озеленения</option>
            <!-- <option value="geo">Произвольная геометрия</option> -->
          </select>
        </div>
        <div class="form-group">
          <input class="form-control" type="file" name="file" accept=".csv,.xlsx,.geojson">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success">Загрузить данные</button>
        </div>

        <h3 class='subtitle'><b>Рекомендации по областям:</b></h3>

        {% if live_group %}
      <h3 class='subtitle'>Освещение:</h3>
          <ul>
            {% for id in live_group %}
          <li class='list'>{{ id }}</li>
          {% endfor %}
          </ul>
          {% endif %}

          {% if health_group %}
      <h3 class='subtitle'>Зелёные насаждения:</h3>
          <ul>
            {% for id in health_group %}
          <li class='list'>{{ id }}</li>
            {% endfor %}
          </ul>
          {% endif %}

          {% if social_group %}
      <h3 class='subtitle'>МАФ:</h3>
          <ul>
            {% for id in social_group %}
          <li class='list'>{{ id }}</li>
          {% endfor %}
          </ul>
          {% endif %}
       </form>
    </div>
      <iframe src="/map" class='map'>
      </iframe>
  </section>
</body>
</html>